:root {
  --basic-border-color: #00CED1;
  --basic-border-hover: #40E0D0;
  --basic-open-button: #00CED1;
  --basic-open-hover: #40E0D0;
  --basic-open-active: #7FFFD4;
}

body {
  padding: 0 70px;
  margin: 0 auto;
  font-size: 17px;
  font-family: sans-serif;
}

/*Header*/

.main-header {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding-top: 20px;
  margin-bottom: 60px;
}

.main-profile {
  display: flex;
}

.name-subject {
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
  margin-left: 20px;
}

.profile-link,
.classes-list-item a {
  transition: 0.4s;
  text-decoration: none;
  color: black;
}

.profile-link:hover {
  opacity: 0.5;
}

.profile-link:active {
  opacity: 0.3;
}

.logout-button {
  transition: 0.4s;
}

.logout-button:hover {
  opacity: 0.5;
}

.logout-button:active {
  opacity: 0.3;
}

/*Classes*/

.classes-logo {
  font-size: 44px;
  margin-bottom: 60px;
}


.classes-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classes-list-item {
  border: 2px solid var(--basic-border-color);
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  display: grid;
  grid-template-rows: 1fr auto;
  transition: 0.5s;
  margin-bottom: 20px;
}

.classes-list-item:hover {
  border-color: var(--basic-border-hover);
}

.classes-list-item h2 {
  margin: 0;
  padding: 0;
}


.subject-description {
  margin-bottom: 40px;
}

.open-button {
  border-radius: 3px;
  text-transform: uppercase;
  background-color: var(--basic-open-button);
  transition: 0.5s;
  padding: 10px 20px 10px 20px;
  width: 100px;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.open-button a {
  color: white;
  font-weight: 600;
}

.open-button:hover {
  background-color: var(--basic-open-hover);
}

.open-button:active {
  background-color: var(--basic-open-active);
}

/*Форма добавления элементов */

.class-add-form {
  border: 2px solid var(--basic-border-color);
  border-radius: 30px;
  padding: 20px;
  display: grid;
  row-gap: 15px;
  margin-bottom: 40px;
  transition: 0.4s;
}

.class-add-form:hover,
.class-add-form:focus {
  border-color: var(--basic-border-hover);
}

.class-add-input {
  height: 40px;
  font-size: 18px;
  margin-bottom: 20px;
}

.class-add-button {
  border: none;
  border-radius: 30px;
  background-color: var(--basic-open-button);
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.class-add-button:hover {
  background-color: var(--basic-open-hover);
}

.class-add-button:active {
  background-color: var(--basic-open-active);
}