:root {
  --basic-profile-border: #00CED1;
  --basic-light-gray: #9e9e9e;
  --basic-button-color: #00CED1;
  --basic-button-hover: #DC143C;
  --basic-button-active: #FFD700;
}

body {
  padding: 0 70px;
  margin: 0 auto;
  font-size: 18px;
  font-family: sans-serif;
}

/*Header*/

.main-header {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding-top: 20px;
  margin-bottom: 50px;
}

.main-profile {
  display: flex;
}

.name-subject {
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
  margin-left: 20px;
}

.profile-link {
  transition: 0.4s;
  text-decoration: none;
  color: black;
}

.profile-link:hover {
  opacity: 0.5;
}

.profile-link:active {
  opacity: 0.3;
}

.logout-button {
  transition: 0.4s;
}

.logout-button:hover {
  opacity: 0.5;
}

.logout-button:active {
  opacity: 0.3;
}

/*Profile*/

.profile-border {
  padding: 0 90px 40px 90px;
  border: 2px solid var(--basic-profile-border);
  border-radius: 20px;
}

main h1 {
  margin-bottom: 50px;
}

.main-profile-data {
  display: grid;
  grid-template-columns: 1fr auto;
}

.profile-form {
  display: flex;
  flex-direction: column;
}


.save-data {
  display: block;
  width: 100px;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
}

.profile-photo {
  margin-bottom: 30px;
}

.profile-input {
  width: 40%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid var(--basic-light-gray);
  background-color: transparent;
  outline: none;
  transition: 0.4s;
}

.profile-label {
  position: absolute;
  top: 0;
  z-index: -1;
  color: var(--basic-light-gray);
  transition: 0.4s;
}

.profile-field {
  display: flex;
  position: relative;
  margin-bottom: 45px;
}

.profile-input:focus ~ .profile-label,
.profile-input:not(:placeholder-shown) ~ .profile-label {
  top: -18px;
  font-size: 12px;
  opacity: 0.7;
}

.change-password {
  width: 200px;
  height: 40px;
  padding: 10 20px;
  border: 2px solid var(--basic-button-color);
  border-radius: 15px;
  background-color: white;
  color: var(--basic-button-color);
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 32px;
}

.change-password:hover,
.change-password:focus {
  border-color: var(--basic-button-hover);
  color: var(--basic-button-hover);
}

.change-password:active {
  border-color: var(--basic-button-active);
  color: var(--basic-button-active);
}

.save-data {
  width: 300px;
  height: 40px;
  padding: 10 20px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: var(--basic-button-color);
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
}

.save-data:hover,
.save-data:focus {
  background-color: var(--basic-button-hover);
}

.save-data:active {
  background-color: var(--basic-button-active);
}

.toClasses {
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  background-color: var(--basic-button-color);
  transition: 0.5s;
}

.toClasses:hover {
  background-color: var(--basic-button-hover);
}

.toClasses:active {
  background-color: var(--basic-button-active);
}

.change-avatar {
  width: 100px;
  height: 40px;
  padding: 10 20px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: var(--basic-button-color);
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-left: 10px;
}

.change-avatar:hover,
.change-avatar:focus {
  background-color: var(--basic-button-hover);
}

.change-avatar:active {
  background-color: var(--basic-button-active);
}
