:root {
  --basic-table-color: #C0C0C0;
  --basic-student-color: #00CED1;
  --basic-student-hover: #DC143C;
  --basic-fiveGrade-color: #00FF00;
  --basic-fourGrade-color: #32CD32;
  --basic-threeGrade-color: #FFD700;
  --basic-twoGrade-color: #FF0000;
}

body {
  padding: 0 70px;
  margin: 0 auto;
  font-size: 18px;
}

/*Header*/

.main-header {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding-top: 20px;
  margin-bottom: 60px;
}

.main-profile {
  display: flex;
}

.name-subject {
  padding: 5px 0 0 0;
  margin: 0;
  text-align: center;
  margin-left: 20px;
}

.profile-link {
  transition: 0.4s;
  text-decoration: none;
  color: black;
}

.profile-link:hover {
  opacity: 0.5;
}

.profile-link:active {
  opacity: 0.3;
}

.logout-button {
  transition: 0.4s;
}

.logout-button:hover {
  opacity: 0.5;
}

.logout-button:active {
  opacity: 0.3;
}

/*Main*/

.classHeadline {
  font-size: 50px;
}

.backToClasses {
  text-decoration: none;
  background-color: var(--basic-student-color);
  color: white;
  font-size: 30px;
  font-weight: 700;
  width: 150px;
  border-radius: 30px;
  padding: 10px;
  display: block;
  text-align: center;
  margin-bottom: 50px;
  transition: 0.5s;
}

.backToClasses:hover,
.backToClasses:focus {
  background-color: var(--basic-student-hover);
}

.classTable {
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;
  font-size: 20px;
  margin-bottom: 40px;
}

.classTableHead {
  font-size: 24px;
  font-weight: 700;
}

.classTable,
.classTableHead th,
.tableMainRow td {
  border: 1px solid var(--basic-table-color);
  padding: 10px;
}

.student {
  text-decoration: none;
  color: var(--basic-student-color);
  font-weight: 600;
  transition: 0.5s;
}

.student:hover,
.student:focus {
  color: var(--basic-student-hover);
}

.fiveGrade {
  background-color: var(--basic-fiveGrade-color);
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  width: 30px;
  border-radius: 30px;
  padding: 10px;
}

.fourGrade {
  background-color: var(--basic-fourGrade-color);
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  width: 30px;
  border-radius: 30px;
  padding: 10px;
}

.threeGrade {
  background-color: var(--basic-threeGrade-color);
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  width: 30px;
  border-radius: 30px;
  padding: 10px;
}

.twoGrade {
  background-color: var(--basic-twoGrade-color);
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  width: 30px;
  border-radius: 30px;
  padding: 10px;
}

.chooseFive,
.chooseFour,
.chooseThree,
.chooseTwo {
  border: none;
  border-radius: 20px;
  background-color: var(--basic-student-color);
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.chooseFive:hover,
.chooseFour:hover,
.chooseThree:hover,
.chooseTwo:hover {
  background-color: var(--basic-student-hover);
}

.toBoard {
  margin: 0 auto 40px auto;
  padding: 10px;
  background-color: var(--basic-student-color);
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: 700;
  width: 400px;
  text-align: center;
  display: block;
  transition: 0.5s;
  border-radius: 30px;
}

.toBoard:hover,
.toBoard:focus {
  background-color: var(--basic-student-hover);
}

.turnedOff {
  display: none;
}
