* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DCDCDC;
    color: #333;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    column-gap: 20px;
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 60px;
    padding: 20px;
}

.home-icon {
    cursor: pointer;
    transition: 0.4s;
}

.home-icon:hover,
.home-icon:focus {
    opacity: 0.5;
}

.home-icon:active {
    opacity: 0.3;
}

.main-profile {
    display: flex;
}

.profile-link,
.classes-list-item a {
    text-decoration: none;
    color: #333;
}

.name-subject {
    padding: 5px 0 0 0;
    margin: 0;
    text-align: center;
    margin-left: 20px;
  }

.logout-button {
    transition: 0.4s;
}

main {
    margin: 50px 100px;
    width: 50%;
    float: left;
}