<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/Signstyle.css">
    <title>Форма авторизации</title>
  </head>
  <body>
    <form class="main_form" method='post' id="form1">

      <h1 class="form_title">Вход</h1>

      <div class="form_field">
        <input class="form_input" placeholder=" " type="text" required name="username">
        <label class="form_label">Логин</label>
      </div>

      <div class="form_field">
        <input class="form_input" placeholder=" " type="password" required name="password">
        <label class="form_label">Пароль</label>
      </div>

      <div class="sign-in">
        <button class="form_button" type="submit">Войти</button>
      </div>

      <div class="forgot_password">
        <a href="#">Забыли пароль?</a>
      </div>

    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="../static/js/signing.js"></script>
  </body>
</html>
